<%= form_with(model: post, builder: TailwindBuilder) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="mb-6">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <%= form.div_radio_button :title, "Test" %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
